$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "blockquote";

.reveal {

  pre[class*="language-"] {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.6em;
    padding: 0.5em;

    code {
      padding: 0;
    }
  }

  table.table-octet {
    border: solid black 1px;
  }

  table.table-octet td {
    text-align: center;
  }

}
